<!DOCTYPE html>
<html>
<head>
<title>Cloudflare DNS Manager</title>
<style>
  h1 {
    text-align: center;
  }
  #dnsmanager {
    text-align: center;
  }
</style>
</head>
<body>
<h1>Cloudflare DNS Manager</h1>
<form method="post" id="dnsmanager" action="/">
  <p>Enter your Cloudflare Global API Key:</p><input type="text" name="user_input">
  <p>Enter your Zone ID:</p><input type="text" name="zone_id">
  <p>Enter the Record Type:</p><input type="text" name="record_type">
  <p>Enter the Record Name:</p><input type="text" name="record_name">
  <p>Enter the Record Content:</p><input type="text" name="record_content">
  <input type="submit" value="Submit">
</form>
</body>
</html>
